*,
::after,
::before{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Header */
.header{
    width: 100%;
    height: 2.5rem;
    background-color: aqua;
    border-bottom: 4px dotted black;
}


/* Main Content */
.main_content{
    height: 85vh;
    background-color: bisque;
    width: 90%;
    margin: auto;

}

.clock_head{
font-size: large;
padding-top: 2rem;
text-align: center;
}

.clock_sub{
top: 0;
font-size: medium;
text-align: center;
}

.clock_display{
    width: 80%;
    height: 1em;
    background-color: rgb(0, 68, 255);
    margin: auto;
    text-align: center;
    color: rgb(255, 242, 225);
    font-size: 6rem;
}

.clockdisplay {
    padding-top: 1.2em;
    font-size: x-large;
    position: relative;
    margin: auto;
    justify-content: center;
}

/* Footer */
.footer{
    height: 2rem;
    width: 100%;
    background-color: grey;
    text-align: center;
    padding-top: 1.5rem;
}